<%= with_template("philosophers_table") do |template| %>
  <% template.before :person do |index| %>
    <div class="chair <%= "person#{index}" %>">
      <%= image_tag "chair.png", width: "300px" %>
    </div>
  <% end %>
  <% template.define :person do |index| %>
    <%= magician_image(index) %>
  <% end %>
  <% template.define :tool do |index| %>
    <%= image_tag "wand.png" %>
  <% end %>
  <% template.define :plate do |index| %>
    <%= image_tag "rabbit_in_a_hat.png" %>
  <% end %>
<% end %>
